.container {
    position: relative;
    width: 100%;
}

.panel {
    position: absolute;
    width: 30%;
    background-color: #F0F8FF;
}

.essential {
    position: absolute;
    width: 70%;
    right: 0px;
    background-color: red;
}

.slider_container>.slider {
    display: inline-block;
    width: 45%;
    left: 40%;
}

.slider_container>.slider_value {
    display: inline-block;
    width: 10%;
    right: 0px;
}