.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: darkorange;
}

.panel {
    position: absolute;
    width: 30%;
    height: 50vw;
    background-color: aliceblue;
}

.essential {
    position: absolute;
    width: 70%;
    right: 0px;
    height: 50vw;
    background-color: floralwhite;
}

.slider_container>.slider {
    display: inline-block;
    width: 45%;
    left: 40%;
}

.slider_container>.slider_value {
    display: inline-block;
    width: 10%;
    right: 0px;
}

.dummy {
    float: left;
    border: solid;
    box-sizing: border-box;
}

.size-2 {
    width: 50%;
    height: 50%;
}

.size-3 {
    width: 33.3%;
    height: 33.3%;
}

.size-4 {
    width: 25%;
    height: 25%;
}

.size-5 {
    width: 20%;
    height: 20%;
}

.size-6 {
    width: 16.6%;
    height: 16.6%;
}

.size-7 {
    width: 14.28%;
    height: 14.28%;
}

.size-8 {
    width: 12.5%;
    height: 12.5%;
}

.size-9 {
    width: 11.1%;
    height: 11.1%;
}

.size-10 {
    width: 10%;
    height: 10%;
}